@use '../utilities' as *;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* for horizontal scrollbar */
}

// ::-webkit-scrollbar-thumb {
//   background-color: var(--white-alpha-8);
//   border-radius: var(--radius-pill);
// }
