:root {
  --primary: #3da5fd;
  --on-primary: #100e17;
  --background: #142430;
  --surface: #152c39;
  --color-main: #eae6f2;
  --color-1: #637989;
  --color-2: #b9b6bf;
  --white: hsl(0, 0%, 100%);
  --white-alpha-4: hsla(0, 0%, 100%, 0.04);
  --white-alpha-8: hsla(0, 0%, 100%, 0.08);
  --black-alpha-10: hsla(0, 0%, 0%, 0.1);
}
