@use '../utilities' as *;
:root {
  // Font Size
  --fz-heading: 5.6rem;
  --fz-title-1: 2rem;
  --fz-title-2: 1.8rem;
  --fz-title-3: 1.6rem;
  --fz-body-1: 2.2rem;
  --fz-body-2: 2rem;
  --fz-body-3: 1.6rem;
  --fz-label-1: 1.4rem;
  --fz-label-2: 1.2rem;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

sub {
  vertical-align: baseline;
}

sup {
  vertical-align: top;
}

sub,
sup {
  font-size: 0.75em;
}
