html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* for horizontal scrollbar */
}

:root {
  --primary: #3da5fd;
  --on-primary: #100e17;
  --background: #142430;
  --surface: #152c39;
  --color-main: #eae6f2;
  --color-1: #637989;
  --color-2: #b9b6bf;
  --bg-aqi-1: #89e589;
  --on-bg-aqi-1: #1f331f;
  --bg-aqi-2: #e5dd89;
  --on-bg-aqi-2: #33311f;
  --bg-aqi-3: #e5c089;
  --on-bg-aqi-3: #332b1f;
  --bg-aqi-4: #e58989;
  --on-bg-aqi-4: #331f1f;
  --bg-aqi-5: #e589b7;
  --on-bg-aqi-5: #331f29;
  --white: hsl(0, 0%, 100%);
  --white-alpha-4: hsla(0, 0%, 100%, 0.04);
  --white-alpha-6: hsla(0, 0%, 100%, 0.226);
  --white-alpha-8: hsla(0, 0%, 100%, 0.08);
  --black-alpha-10: hsla(0, 0%, 0%, 0.1);
}

:root {
  --ff-epilogue: "Epilogue", sans-serif;
}

:root {
  --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);
  --radius-28: 28px;
  --radius-16: 16px;
  --radius-pill: 500px;
  --radius-circle: 50%;
}

html {
  font-size: var(--ff-nunito-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--color-main);
  font-family: var(--ff-epilogue);
  font-size: var(--fz-body-3);
  margin: 0;
  /* overflow: hidden; */
}

main {
  height: calc(100vh - 80px);
  height: calc(100svh - 80px); /* for mobile browser */
  overflow: hidden;
}

article.container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1.25rem;
  height: 100%;
  overflow-y: auto; /* for firefox */
  overflow-y: overlay;
}
article.container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
article.container:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--white-alpha-8);
}
article.container::-webkit-scrollbar-button {
  height: 10px;
}
article.container::before {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: var(--gradient-1);
  pointer-events: none;
  z-index: 1;
}

.section:not(:last-child) {
  margin-block-end: 16px;
}

:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}

button {
  cursor: pointer;
}

input,
button {
  width: 100%;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

input {
  width: 100%;
}

@media (min-width: 768px) {
  main {
    height: calc(100vh - 96px);
    height: calc(100svh - 96px);
  }
  article.container {
    padding-block-start: 0;
    grid-template-columns: 280px minmax(0, 1fr);
    align-items: flex-start;
    gap: 24px;
  }
  .content-left {
    position: sticky;
    top: 0;
  }
  .section:not(:last-child) {
    margin-block: 20px;
  }
}
@media (min-width: 1200px) {
  main {
    height: calc(100vh - 120px);
    height: calc(100svh - 120px);
  }
  article.container {
    grid-template-columns: 360px minmax(0, 1fr);
    gap: 40px;
  }
  .current-weather .weather-icon {
    width: 80px;
  }
  .forecast-card .title-2 {
    --title-2: 2.2rem;
  }
  .highlight-card:nth-child(-n+2) {
    height: 200px;
  }
  .highlight-card:nth-child(n+3) {
    height: 150px;
  }
  .highlight-card .m-icon {
    font-size: 4.8rem;
  }
  .slider-list {
    gap: 16px;
  }
}
:root {
  --fz-heading: 5.6rem;
  --fz-title-1: 2rem;
  --fz-title-2: 1.8rem;
  --fz-title-3: 1.6rem;
  --fz-body-1: 2.2rem;
  --fz-body-2: 2rem;
  --fz-body-3: 1.6rem;
  --fz-label-1: 1.4rem;
  --fz-label-2: 1.2rem;
}
@media (min-width: 1200px) {
  :root {
    --fz-heading: 8rem;
    --fz-title-2: 2rem;
  }
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

sub {
  vertical-align: baseline;
}

sup {
  vertical-align: top;
}

sub,
sup {
  font-size: 0.75em;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
  padding: 16px;
}

.icon-btn {
  background-color: var(--white-alpha-8);
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  border: none;
}

.icon-btn:hover {
  background-color: var(--white-alpha-6);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--color-main);
  height: 48px;
  line-height: 48px;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-inline: 16px;
  border-radius: var(--radius-pill);
}

.btn-primary:hover {
  background-color: rgba(61, 163, 253, 0.7411764706);
}

.btn-primary[disabled] {
  background-color: rgba(72, 96, 117, 0.7411764706);
  cursor: not-allowed;
}

.card {
  background-color: var(--surface);
  color: var(--color-main);
}

.card-lg {
  border-radius: var(--radius-28);
  padding: 20px;
}

.card-sm {
  border-radius: var(--radius-16);
  padding: 16px;
}

.heading {
  color: var(--white);
  font-size: var(--fz-heading);
  line-height: 1.1;
}

.title-1 {
  font-size: var(--fz-title-1);
}

.title-2 {
  font-size: var(--fz-title-2);
  margin-bottom: 0.75rem;
}

.title-3 {
  font-size: var(--fz-title-1);
  font-weight: 500;
}

.body-1 {
  font-size: var(--fz-body-1);
}

.body-2 {
  font-size: var(--fz-body-2);
  font-weight: 500;
}

.body-3 {
  font-size: var(--fz-body-3);
}

.label-1 {
  font-size: var(--fz-label-1);
}

.label-2 {
  font-size: 12px;
}

.fade-in {
  animation: fade-in 250ms ease forwards;
}

@media (min-width: 768px) {
  .container {
    padding: 24px;
  }
  .title-1 {
    --title-1: 2.4rem;
  }
  .section > .title-2 {
    margin-block-end: 16px;
  }
  .card-lg {
    padding: 24px;
  }
  .card-sm {
    padding: 20px;
    display: grid;
    grid-template-rows: min-content 1fr;
  }
  .badge {
    top: 20px;
    right: 20px;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  .card-lg {
    padding: 36px;
  }
  .card-sm {
    padding: 24px;
  }
  .title-1 {
    --title: 3.6rem;
  }
  .highlight-card.two .card-item {
    column-gap: 24px;
  }
}
@media (min-width: 1200px) {
  .header {
    position: relative;
    height: 120px;
    z-index: 4;
  }
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .header .container {
    padding-block: 0;
    height: 100%;
  }
}
.header .container .logo {
  width: 150px;
}
@media (min-width: 1200px) {
  .header .container .logo img {
    width: 100px;
  }
}
.header .container .search-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh; /*for Mobile browser*/
  background-color: var(--surface);
  color: var(--color-main);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
}
@media (min-width: 1200px) {
  .header .container .search-view {
    all: unset;
    display: block;
    position: relative;
    width: 400px;
    animation: none;
  }
  .header .container .search-view:not(:focus-within) .search-result {
    display: none;
  }
  .header .container .search-view:focus-within .search-result.active {
    display: block;
  }
  .header .container .search-view:has(.search-result.active):focus-within .search-field {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .header .container .search-view:is(:hover, :has(.view-list):hover) {
    filter: drop-shadow(var(--shadow-1));
  }
  .header .container .search-view:is(:focus-within, :has(.view-list):focus-within) {
    filter: drop-shadow(var(--shadow-2));
  }
}
.header .container .search-view.active {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 1200px) {
  .header .container .search-view.active {
    all: unset;
    display: block;
    position: relative;
    width: 400px;
    animation: none;
  }
}
.header .container .search-view .search-wrapper {
  position: relative;
  border-bottom: 1px solid var(--color-2);
}
@media (min-width: 1200px) {
  .header .container .search-view .search-wrapper {
    border-block-end: none;
  }
}
.header .container .search-view .search-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 24px;
  height: 24px;
  border: 3px solid var(--color-2);
  border-top-color: transparent;
  border-radius: var(--radius-circle);
  animation: loading 500ms linear infinite;
  display: none;
}
.header .container .search-view .search-wrapper:has(.searching)::before {
  display: block;
}
.header .container .search-view .search-wrapper .search-field {
  height: 80px;
  line-height: 80px;
  padding-inline: 51px 16px;
  outline: none;
}
@media (min-width: 1200px) {
  .header .container .search-view .search-wrapper .search-field {
    background-color: var(--surface);
    height: 56px;
    border-radius: var(--radius-28);
  }
}
.header .container .search-view .search-wrapper .search-field::placeholder {
  font-size: 16px;
  color: var(--color-2);
}
.header .container .search-view .search-wrapper .search-field::-webkit-search-cancel-button {
  display: none;
}
.header .container .search-view .search-wrapper .leading-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translate(-50%, -50%);
}
.header .container .search-view .search-wrapper > .m-icon {
  display: none;
}
@media (min-width: 1200px) {
  .header .container .search-view .search-wrapper > .m-icon {
    display: block;
  }
}
.header .container .search-view .search-wrapper .icon-btn {
  background-color: transparent;
  box-shadow: none;
}
@media (min-width: 1200px) {
  .header .container .search-view .search-wrapper .icon-btn {
    display: none;
  }
}
.header .container .search-view .search-wrapper .icon-btn:hover {
  background-color: var(--white-alpha-8);
}
@media (min-width: 1200px) {
  .header .container .search-view .search-result {
    display: none;
  }
}
.header .container .search-view .search-result .view-list {
  padding-block: 8px 16px;
}
@media (min-width: 1200px) {
  .header .container .search-view .search-result .view-list {
    background-color: var(--surface);
    position: absolute;
    top: 100%;
    left: 0;
    width: 116%;
    max-height: 260px;
    border-radius: 0 0 var(--radius-28) var(--radius-28);
    border-block-start: 1px solid var(--outline);
    overflow-y: auto; /* for firefox */
    overflow-y: overlay;
  }
  .header .container .search-view .search-result .view-list:empty {
    min-height: 120px;
  }
  .header .container .search-view .search-result .view-list::-webkit-scrollbar-button {
    height: 20px;
  }
}
.header .container .search-view .search-result .view-list .view-item {
  position: relative;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding-inline: 16px 24px;
}
.header .container .search-view .search-result .view-list .view-item :hover {
  background-color: var(--white-alpha-8);
}
.header .container .search-view .search-result .view-list .view-item :is(.m-icon, .item-subtitle) {
  color: var(--color-1);
}
.header .container .search-view .search-result .view-list .view-item .item-title {
  margin-bottom: 3px;
}
.header .container .search-view .search-result .view-list .view-item .item-link {
  position: absolute;
  inset: 0;
  box-shadow: none;
}
.header .container .header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (min-width: 768px) {
  .header .container .header-actions {
    gap: 24px;
  }
}
@media (min-width: 1200px) {
  .header .container .header-actions .icon-btn {
    visibility: hidden;
  }
}
.header .container .header-actions .icon-btn .icon {
  padding-top: 3;
}
@media (min-width: 768px) {
  .header .container .header-actions .btn-primary {
    padding-inline: 16px 24px;
  }
}
.header .container .header-actions .btn-primary .span {
  color: var(--on-primary);
  display: none;
}
@media (min-width: 768px) {
  .header .container .header-actions .btn-primary .span {
    display: block;
  }
}

@keyframes loading {
  0% {
    transform: translateY(-50%) rotate(0);
  }
  100% {
    transform: translateY(-50%) rotate(1turn);
  }
}
.section .current-weather-card .weapper {
  margin-block: 12px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.section .current-weather-card .weather-icon {
  margin-inline: auto;
}
.section .current-weather-card .body-3 {
  text-transform: capitalize;
}
.section .current-weather-card .meta-list {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid var(--color-1);
}
.section .current-weather-card .meta-list .meta-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section .current-weather-card .meta-list .meta-item:not(:last-child) {
  margin-bottom: 12px;
}
.section .current-weather-card .meta-list .meta-item .meta-text {
  color: var(--color-1);
}

.forecast .forecast-card .card-item {
  display: flex;
  align-items: center;
}
.forecast .forecast-card .card-item:not(:last-child) {
  margin-bottom: 12px;
}
.forecast .forecast-card .card-item .icon-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.forecast .forecast-card .card-item .icon-wrapper .title-2 {
  margin-bottom: 0;
}
.forecast .forecast-card .card-item .label-1 {
  color: var(--color-1);
  font-weight: 500;
}
.forecast .forecast-card .card-item .label-1 {
  width: 100%;
  text-align: right;
}
.forecast .forecast-card .card-item .label-1:first-child {
  text-align: left;
}

@media (min-width: 768px) {
  .forecast-card .card-item:not(:last-child) {
    margin-block-end: 16px;
  }
}
.highlights .highlight-list {
  display: grid;
  gap: 20px;
}
.highlights .highlight-list .card-sm {
  background-color: var(--black-alpha-10);
  position: relative;
}
.highlights .highlight-list .card-sm .title-3 {
  color: var(--color-2);
  margin-bottom: 20px;
}
.highlights .highlight-list .highlight-card :is(.wrapper, .card-list, .card-item) {
  display: flex;
  align-items: center;
}
.highlights .highlight-list .highlight-card .wrapper {
  justify-content: space-between;
  gap: 16px;
}
.highlights .highlight-list .highlight-card .wrapper .card-list {
  flex-wrap: wrap;
  flex-grow: 1;
  row-gap: 8px;
}
.highlights .highlight-list .highlight-card .wrapper .card-list .card-item {
  width: 50%;
  justify-content: flex-end;
  gap: 4px;
}
.highlights .highlight-list .highlight-card .wrapper .label-1 {
  color: var(--color-1);
}
.highlights .highlight-list .highlight-card .badge {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 2px 12px;
  border-radius: var(--radius-pill);
  font-weight: 500;
  cursor: help;
}
.highlights .highlight-list .highlight-card .badge.aqi-1 {
  background-color: var(--bg-aqi-1);
  color: var(--on-bg-aqi-1);
}
.highlights .highlight-list .highlight-card .badge.aqi-2 {
  background-color: var(--bg-aqi-2);
  color: var(--on-bg-aqi-2);
}
.highlights .highlight-list .highlight-card .badge.aqi-3 {
  background-color: var(--bg-aqi-3);
  color: var(--on-bg-aqi-3);
}
.highlights .highlight-list .highlight-card .badge.aqi-4 {
  background-color: var(--bg-aqi-4);
  color: var(--on-bg-aqi-4);
}
.highlights .highlight-list .highlight-card .badge.aqi-5 {
  background-color: var(--bg-aqi-5);
  color: var(--on-bg-aqi-5);
}
.highlights .highlight-list .highlight-card.two .card-item {
  width: 50%;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px 16px;
}
.highlights .highlight-list .highlight-card.two .card-item .label-1 {
  color: var(--color-1);
  margin-block-end: 4px;
}
.highlights .m-icon {
  font-size: 3.2rem;
}

@media (min-width: 768px) {
  .highlight-list {
    grid-template-columns: 1fr 1fr;
  }
  .highlight-card:nth-child(-n+2) {
    grid-column: span 2;
    height: 160px;
  }
  .highlight-card:nth-child(n+3) {
    height: 120px;
  }
  .highlights .m-icon {
    font-size: 3.6rem;
  }
  .highlight-card.one .card-item {
    width: 25%;
    flex-direction: column-reverse;
    gap: 8px;
  }
}
.hourly-forecast .slider-container {
  overflow-x: auto;
  margin-inline: -16px;
}
.hourly-forecast .slider-container::-webkit-scrollbar {
  display: none;
}
.hourly-forecast .slider-container .slider-list {
  display: flex;
  gap: 12px;
}
.hourly-forecast .slider-container .slider-list:first-child {
  margin-bottom: 16px;
}
.hourly-forecast .slider-container .slider-list::before, .hourly-forecast .slider-container .slider-list::after {
  content: "";
  min-width: 4px;
}
.hourly-forecast .slider-container .slider-list .slider-item {
  min-width: 110px;
  flex: 1 1 100%;
}
.hourly-forecast .slider-container .slider-list .slider-item .slider-card {
  text-align: center;
}
.hourly-forecast .slider-container .slider-list .slider-item .slider-card .weather-icon {
  margin-inline: auto;
  margin-block: 12px;
}

@media (min-width: 768px) {
  .slider-container {
    margin-inline: 0 -24px;
    border-bottom-left-radius: var(--radius-16);
    border-top-left-radius: var(--radius-16);
  }
  .slider-list::after {
    min-width: 12px;
  }
  .hourly-forecast .card-sm {
    padding: 16px;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-1);
  text-align: center;
  gap: 12px;
  margin-block-start: 28px;
  /* display: none; */
}
.footer .coded {
  text-decoration: underline;
  color: #729fc7;
}
.footer .coded:hover {
  text-decoration: none;
  color: var(--primary);
}
.footer .body-3:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  place-items: center;
  z-index: 1;
  display: none;
}
.loading::before {
  content: "";
  width: 48px;
  height: 48px;
  border: 4px solid var(--on-background);
  border-block-start-color: transparent;
  border-radius: var(--radius-circle);
  animation: loading 500ms linear infinite;
}

@keyframes loading {
  0% {
    transform: translateY(-50%) rotate(0);
  }
  100% {
    transform: translateY(-50%) rotate(1turn);
  }
}
.error-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: var(--background);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 8;
}
.error-content .btn-primary {
  margin-top: 20px;
}