@use '../utilities' as *;

.header {
  @include breakpoint-up(large) {
    position: relative;
    height: 120px;
    z-index: 4;
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-up(large) {
      padding-block: 0;
      height: 100%;
    }

    & .logo {
      width: 150px;

      @include breakpoint-up(large) {
        & img {
          width: 100px;
        }
      }
    }

    & .search-view {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      height: 100svh; /*for Mobile browser*/
      background-color: var(--surface);
      color: var(--color-main);
      opacity: 0;
      visibility: hidden;
      z-index: 4;

      @include breakpoint-up(large) {
        all: unset;
        display: block;
        position: relative;
        width: 400px;
        animation: none;

        &:not(:focus-within) .search-result {
          display: none;
        }

        &:focus-within .search-result.active {
          display: block;
        }

        &:has(.search-result.active):focus-within .search-field {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:is(:hover, :has(.view-list):hover) {
          filter: drop-shadow(var(--shadow-1));
        }

        &:is(:focus-within, :has(.view-list):focus-within) {
          filter: drop-shadow(var(--shadow-2));
        }
      }

      &.active {
        opacity: 1;
        visibility: visible;

        @include breakpoint-up(large) {
          all: unset;
          display: block;
          position: relative;
          width: 400px;
          animation: none;
        }
      }

      & .search-wrapper {
        position: relative;
        border-bottom: 1px solid var(--color-2);

        @include breakpoint-up(large) {
          border-block-end: none;
        }

        // LOADING
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 16px;
          width: 24px;
          height: 24px;
          border: 3px solid var(--color-2);
          border-top-color: transparent;
          border-radius: var(--radius-circle);
          animation: loading 500ms linear infinite;
          display: none;
        }

        &:has(.searching)::before {
          display: block;
        }

        & .search-field {
          height: 80px;
          line-height: 80px;
          padding-inline: 51px 16px;
          outline: none;

          @include breakpoint-up(large) {
            background-color: var(--surface);
            height: 56px;
            border-radius: var(--radius-28);
          }

          &::placeholder {
            font-size: 16px;
            color: var(--color-2);
          }

          &::-webkit-search-cancel-button {
            display: none;
          }
        }

        & .leading-icon {
          position: absolute;
          top: 50%;
          left: 24px;
          transform: translate(-50%, -50%);
        }

        & > .m-icon {
          display: none;

          @include breakpoint-up(large) {
            display: block;
          }
        }

        & .icon-btn {
          background-color: transparent;
          box-shadow: none;

          @include breakpoint-up(large) {
            display: none;
          }

          &:hover {
            background-color: var(--white-alpha-8);
          }
        }
      }

      & .search-result {
        @include breakpoint-up(large) {
          display: none;
        }

        & .view-list {
          padding-block: 8px 16px;

          @include breakpoint-up(large) {
            background-color: var(--surface);
            position: absolute;
            top: 100%;
            left: 0;
            width: 116.7%;
            max-height: 260px;
            border-radius: 0 0 var(--radius-28) var(--radius-28);
            border-block-start: 1px solid var(--outline);
            overflow-y: auto; /* for firefox */
            overflow-y: overlay;

            &:empty {
              min-height: 120px;
            }

            &::-webkit-scrollbar-button {
              height: 20px;
            }
          }

          & .view-item {
            position: relative;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            padding-inline: 16px 24px;

            :hover {
              background-color: var(--white-alpha-8);
            }

            & :is(.m-icon, .item-subtitle) {
              color: var(--color-1);
            }

            & .item-title {
              margin-bottom: 3px;
            }

            & .item-link {
              position: absolute;
              inset: 0;
              box-shadow: none;
            }
          }
        }
      }
    }

    & .header-actions {
      display: flex;
      align-items: center;
      gap: 16px;

      @include breakpoint-up(medium) {
        gap: 24px;
      }

      & .icon-btn {
        @include breakpoint-up(large) {
          visibility: hidden;
        }
      }

      & .icon-btn .icon {
        padding-top: 3;
      }

      & .btn-primary {
        @include breakpoint-up(medium) {
          padding-inline: 16px 24px;
        }

        & .span {
          color: var(--on-primary);
          display: none;

          @include breakpoint-up(medium) {
            display: block;
          }
        }
      }
    }
  }
}

@keyframes loading {
  0% {
    transform: translateY(-50%) rotate(0);
  }

  100% {
    transform: translateY(-50%) rotate(1turn);
  }
}
