@use '../utilities/' as *;

.container {
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
  padding: 16px;
}

.icon-btn {
  background-color: var(--white-alpha-8);
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  border: none;
}

.icon-btn:hover {
  background-color: var(--white-alpha-6);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--color-main);
  height: 48px;
  line-height: 48px;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-inline: 16px;
  border-radius: var(--radius-pill);
}

.btn-primary:hover {
  background-color: #3da3fdbd;
}

.btn-primary[disabled] {
  background-color: #486075bd;
  cursor: not-allowed;
}

.card {
  background-color: var(--surface);
  color: var(--color-main);
}

.card-lg {
  border-radius: var(--radius-28);
  padding: 20px;
}

.card-sm {
  border-radius: var(--radius-16);
  padding: 16px;
}

.heading {
  color: var(--white);
  font-size: var(--fz-heading);
  line-height: 1.1;
}

.title-1 {
  font-size: var(--fz-title-1);
}

.title-2 {
  font-size: var(--fz-title-2);
  margin-bottom: rem(12);
}

.title-3 {
  font-size: var(--fz-title-1);
  font-weight: 500;
}

.body-1 {
  font-size: var(--fz-body-1);
}

.body-2 {
  font-size: var(--fz-body-2);
  font-weight: 500;
}

.body-3 {
  font-size: var(--fz-body-3);
}

.label-1 {
  font-size: var(--fz-label-1);
}

.label-2 {
  font-size: 12px;
}

.fade-in {
  animation: fade-in 250ms ease forwards;
}

@include breakpoint-up(medium) {
  .container {
    padding: 24px;
  }

  .title-1 {
    --title-1: 2.4rem;
  }

  .section > .title-2 {
    margin-block-end: 16px;
  }

  .card-lg {
    padding: 24px;
  }

  .card-sm {
    padding: 20px;
    display: grid;
    grid-template-rows: min-content 1fr;
  }

  .badge {
    top: 20px;
    right: 20px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
